services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./:/app
    depends_on:
      - ngrok
    restart: unless-stopped
    environment:
      - APP_NAME={{ app_name }}
      - APP_VERSION={{ app_version }}

  ngrok:
    image: ngrok/ngrok:latest
    ports:
      - "4040:4040"
    env_file:
      - .env
    command: http app:8000 --domain=${NGROK_DOMAIN:-}
    restart: unless-stopped